addons/*
CHANGELOG.md
CODE_OF_CONDUCT.md
docs/android_studio.md
docs/apps.md
libs/*
INSTALL_FROM_GITHUB.md
INSTALL.md
examples/*
docs/*
LICENSE.md
projectGenerator/*
README.md
scripts/*
SECURITY.md
THANKS.md
apps/myApps/emptyExample/*
apps/myApps/Virtual_Worlds/.vs/*
apps/myApps/Virtual_Worlds/bin/*
apps/myApps/Virtual_Worlds/Build/Intermediate/*
apps/myApps/Virtual_Worlds/obj/*
libs/openFrameworks/3d/of3dPrimitives.cpp
libs/openFrameworks/3d/of3dPrimitives.h
libs/openFrameworks/3d/of3dUtils.cpp
libs/openFrameworks/3d/of3dUtils.h
libs/openFrameworks/3d/ofCamera.cpp
libs/openFrameworks/3d/ofCamera.h
libs/openFrameworks/3d/ofEasyCam.cpp
libs/openFrameworks/3d/ofEasyCam.h
libs/openFrameworks/3d/ofMesh.inl
libs/openFrameworks/app/ofAppBaseWindow.h
libs/openFrameworks/app/ofAppEGLWindow.cpp
libs/openFrameworks/app/ofAppEGLWindow.h
libs/openFrameworks/app/ofAppGLFWWindow.cpp
libs/openFrameworks/app/ofAppGLFWWindow.h
libs/openFrameworks/app/ofAppGlutWindow.cpp
libs/openFrameworks/app/ofAppGlutWindow.h
libs/openFrameworks/app/ofAppNoWindow.cpp
libs/openFrameworks/app/ofAppNoWindow.h
libs/openFrameworks/app/ofAppRunner.cpp
libs/openFrameworks/app/ofAppRunner.h
libs/openFrameworks/app/ofBaseApp.cpp
libs/openFrameworks/app/ofBaseApp.h
libs/openFrameworks/app/ofIcon.h
libs/openFrameworks/app/ofMainLoop.cpp
libs/openFrameworks/app/ofWindowSettings.h

!libs/openFrameworks/3d/ofMesh.h
!libs/openFrameworks/3d/ofNode.h
!libs/openFrameworks/3d/ofNode.cpp
!libs/openFrameworks/3d/vw_object_base.h
!libs/openFrameworks/app/ofMainLoop.h
!libs/openFrameworks/gl/ofShader.h
!libs/openFrameworks/gl/ofShader.cpp
!libs/openFrameworks/gl/ofGLProgrammableRenderer.h
!libs/openFrameworks/gl/ofGLProgrammableRenderer.cpp
!libs/openFrameworks/gl/vw_shader_definitions.h
!libs/openFrameworks/gl/ofMaterial.h
!libs/openFrameworks/gl/ofMaterial.cpp
!libs/openFrameworks/gl/ofLight.h
!libs/openFrameworks/gl/ofLight.cpp
!libs/openFrameworks/gl/ofGLRenderer.h
!libs/openFrameworks/geometry/*
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_internal.cpp
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_internal.h
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_sequencer.cpp
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_sequencer.h
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_internal.cpp
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_internal.h
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_sequencer.cpp
apps/myApps/Virtual_Worlds/source/FrameWork/Universal_FW/im-neo-sequencer/imgui_neo_sequencer.h
